@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Rosario:ital,wght@0,500;0,700;1,500&family=Rubik:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  font-family: inherit;
}

:root {
  /* COLORS */
  --background-color: hsl(0, 0%, 0%);
  --text-color: hsl(246, 36%, 95%);

  /* FONTS */
  --inter-font: "Inter", sans-serif;
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--inter-font);
}

section:not(.hero) {
  padding: clamp(1rem, 4vw, 2.5rem);
}

section:not(#about, #products) {
  background: url(../src/assets/img/bg/bg5.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

h1,
h2,
.heading-span {
  text-wrap: balance;
  font-family: "Rosario", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: clamp(1.7rem, 4vw, 2.5rem);
}

.heading-span {
  font-size: 3rem;
  font-weight:700;
}


.colorEffect {
  background: linear-gradient(120deg, #91043a, #33b0f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: clamp(0.8rem, 4vw, 1rem);
}

span {
  color: hsl(201, 89%, 58%);
  line-height: 1.8;
}

.heroHeading {
  font-size: clamp(1.2rem, 4vw, 3rem);
}

.contact-btn {
  font-size: clamp(0.8rem, 3vw, 1.1rem);
  display: inline-flex;
  width: fit-content;
  white-space: nowrap;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  z-index: 2;
}

.contact-btn:hover {
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px #91043a;
}

/* IMG ANIMATION */
@keyframes reveal {
  from {
    opacity: 0;
    clip-path: inset(0% 60% 0% 50%);
  }
  to {
    opacity: 1;
    clip-path: inset(0% 0% 0% 0%);
  }
}

.animate-img {
  animation: auto linear reveal both;
  animation-timeline: view();
  animation-range: entry 25% cover 50%;
}

.about-list {
  line-height: 1.6;
}

.about-list li::marker,
.advantages-list li::marker {
  content: "✔";
  color: hsl(201, 89%, 58%);
  font-size: 1.3rem;
}

.about-list li,
.advantages-list li {
  padding-left: 1rem;
}

/* LOADER */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

/* DROPDOWN MENU */
.dropdown-menu {
  max-height: calc(100vh - 40px);
  overflow-y: scroll;
}

.dropdown-menu::-webkit-scrollbar {
  width: 10px; /* šírka scrollbaru */
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* farba "držadla" scrollbaru */
  border-radius: 5px; /* zaoblenie "držadla" */
}

.dropdown-menu::-webkit-scrollbar-track {
  background-color: lightgrey; /* farba pozadia scrollbaru */
}

footer {
  background: url(../src//assets/img/bg/bg3.webp);
  background: #450523;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Footer backgrounds: 
#130613 #1F0617 #2C051B #38051F #450523 #510526 #5E052A #6A052E #770432 #830436 */
